body {
  font-family: "Noto Serif", serif;
  color: #2b2d42;
}

p {
  line-height: 1.75rem;
}

h2 {
  font-size: 2.5rem;
  text-align: start;
  color: #004e98;
  position: relative;
}
h2::after {
  content: " ";
  background: #ff6b35;
  position: absolute;
  // display: block;
  height: 45%;
  width: 250px;
  top: 50%;
  left: 0%;
  z-index: -5;
  opacity: 0.5;
}
.aboutMe h2::after {
  content: " ";
  height: 0px;
  width: 0px;
}
h4 {
  font-size: 1.2rem;
  color: #331501;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  // color: black;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}
