html {
  font-size: 1rem;
}

.wrapper,
nav {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

// About Me Styling
.aboutMe h2 {
  text-align: start;
}
.personalDetails {
  display: flex;
  flex-direction: column;
}

.personalDetails p {
  width: 70%;
}

.techStack {
  align-self: center;
  width: 50%;
  text-align: center;
}

.techStack ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 3rem;
}
.techStack ul li {
  margin: auto 10px;
}
// .devicon-sass-original {
// }

// Portfolio Styling
.portfolioHeading {
  // background-color: red;
  text-align: center;
}

.portfolioDisplay {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
  justify-content: space-between;
}

.portfolioImage {
  width: 40%;
}

.projectInfo {
  width: 50%;
  text-align: end;
}

.portfolioDisplay li {
  display: flex;
  // background-color: aqua;
  width: 100%;
  list-style: none;
  margin-bottom: 20px;
  justify-content: space-between;
}
.portfolioDisplay li:nth-of-type(even) {
  flex-direction: row-reverse;
}

.langUsed {
  display: flex;
  flex-direction: row;
  width: auto;
  font-size: 2rem;
  justify-content: flex-end;
  background-color: rosybrown;
}

.langUsed li {
  // display: inline-block;
  // padding: 0px;
  width: auto;
  margin: 10px;
}
// Contact form styling
.contactInfo {
  display: flex;
  background-color: red;
  justify-content: space-between;
}

.inputArea {
  // width: 100%;
  // align-self: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 60%;
  // margin: auto;
  // justify-content: space-between;
  align-items: space-between;
  // background-color: red;
}
.inputArea input {
  width: calc(50% - 5px);
  // background-color: $black;
}
.contactInfo button {
  width: 200px;
  padding: 8px;
  margin: 10px 0px 10px auto;
}

.contactDetails li {
  font-size: 1.2rem;
}

.contactInfo textarea,
.inputArea input {
  border: none;
  padding: 10px;
}
