html {
  font-size: 1rem;
}
.portfolio {
  background-image: url(/media/Wave.svg);
  background-size: cover;
  background-position: left bottom;
}

.wrapper,
nav {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

// About Me Styling
.aboutMe {
  // background-color: #f7c59f;
  background-image: url(/media/lava.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutMe h2 {
  text-align: start;
}
.personalDetails {
  display: flex;
  flex-direction: column;
}

.personalDetails p {
  width: 70%;
}

.techStack {
  align-self: center;
  width: 50%;
  text-align: center;
}

.techStack ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 3rem;
}
.techStack ul li {
  margin: auto 10px;
}

// .devicon-sass-original {
// }

// Portfolio Styling
.scrollShow {
  transition: all 1.5s ease;
  opacity: 0;
}
.show {
  opacity: 1;
}
.portfolioHeading {
  // background-color: red;
  text-align: center;
}

.portfolioDisplay {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
  justify-content: space-between;
}

.portfolioImage {
  width: 40%;
}

.projectInfo {
  width: 50%;
  text-align: end;
  padding: 20px;
  color: black;
}

.projectLink {
  display: flex;
  // background-color: ivory;
  align-items: center;
  justify-content: flex-end;
}

.divider {
  margin: 0px 3px;
  text-align: center;
}

.portfolioDisplay li {
  display: flex;
  // background-color: aqua;
  width: 100%;
  list-style: none;
  // margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  // border-top: 2px solid red;
  // border-left: 2px solid red;
  // border-bottom: 2px solid red;
  // border-radius: 5px;
}
.portfolioDisplay li:nth-of-type(even) {
  flex-direction: row-reverse;
  // background-color: #d90429;
  // background-image: url(/media/circles.svg);
  // border-top: 0px;
  // border-left: 0px;
  // border-bottom: 0px;
  // border-right: 2px solid red;
}
.portfolioDisplay li:nth-of-type(even) .projectInfo {
  text-align: start;
}
.langUsed {
  display: flex;
  flex-direction: row;
  width: auto;
  font-size: 2rem;
  justify-content: flex-end;
  color: #219ebc;
}

.projectInfo ul.langUsed li {
  // display: inline-block;
  // padding: 0px;
  width: auto;
  margin: 10px;
  background-color: transparent;
  border: 0px;
  padding-right: 0px;
  margin-right: 0px;
}
// Contact form styling
.contact {
  background-color: #f19854;
  background-image: url(/media/topWave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #141516;
}
.contactInfo {
  display: flex;
  // background-color: red;
  justify-content: space-between;
}

.inputArea {
  // width: 100%;
  // align-self: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact h4 {
  color: #edf2f4;
}
.contact form {
  display: flex;
  flex-direction: column;
  width: 60%;
  // margin: auto;
  // justify-content: space-between;
  align-items: space-between;
  // background-color: red;
}
.inputArea input {
  width: calc(50% - 5px);
  // background-color: $black;
}
.contactInfo button {
  width: 200px;
  padding: 8px;
  margin: 10px 0px 10px auto;
}

.contactDetails li {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
}
.contactDetails li i {
  font-size: 2rem;
  margin-right: 10px;
}

.contactInfo textarea,
.inputArea input {
  border: none;
  padding: 10px;
}

// icon styling
.techStack ul li i:hover,
.techStack ul li i:focus-visible {
  color: #1a659e;
}

.techStack ul li i {
  transition: all 0.5s ease;
}
.langInfo {
  font-size: 1rem;
  margin: 0px;
}
